body {background-color: rgb(207, 255, 183);}

#title {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0px;
}

#choose_plant {
  width: 20%;
  margin-top: 0px;
}

div {
  display: flex;
  justify-content: center;
}

#pomodoro {
  width: 230px;
  margin-top: 10px;
  margin-right: 20px;
}

#cactime {
  margin-left: 30px;
}

#start {
  margin-top: 0px;
  margin-bottom: 70px;
  height: 70px;
  width: 100px;
}

.num {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 80px;
}

#colon {
  margin-top: 20px;
  margin-bottom: 0px;
  width: 40px;
  height: 60px;
}

#time-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
}

#back-button {
  width: 70px;
}

#up {
  margin-top: 0px;
  width: 50px;
  margin-left: 20px;
}

#down {
  margin-left: 20px;
  width: 50px;
  margin-bottom: 0px;
}

img {
  border-radius: 20px;
  padding: 5px;
  width: 200px;
}